.About{
opacity: 1;


}

.BgImage{
    background-image: url(../images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

